# Local .terraform directories
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Terraform override files (if any)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# .terraform.lock.hcl is used to track the provider versions and dependencies (optional to ignore)
.terraform.lock.hcl

# Ignore IDE and editor specific files
.vscode/
.idea/

# Exclude sensitive variable files (optional, but highly recommended)
*tfplan

# Exclude backup files created by editors
*.bak
*.swp

*sensetive*
